{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<main class="container">

<section class="row">
			<div class="col-12 text-center">
				<h1>Bonjour {{ app.user.firstname }} !</h1>
				<p>Alors quoi de prévu pour aujourd'hui ?
				</p>
			</div>
<section class="container">
		<div class="row">
			<div class="col">
				<h2>Mes informations</h2>

                    <fieldset class="mb-3">
                        <legend>Mon identité</legend>
                            <ul>
								<li> Nom : {{ app.user.lastname}}</li>
								<li> Prénom : {{ app.user.firstname}}</li>
								<li> Email : {{ app.user.email}}</li>
							</ul>
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend>Mes taches en cours</legend>
						<a class="btn btn-primary" href="{{ path('todo_add')}}" role="button">Ajouter une nouvelle tache</a>
                           <table class="table  mb-0">
										<thead>
											<tr>
												<th scope="col"></th>
												<th scope="col">Todo</th>
												<th scope="col"></th>
												<th scope="col"></th>
											</tr>
										</thead>
										
										{% for todo in todo %}
										{% if app.user.id == todo.parent.id %}
											<tbody>
												<tr class="fw-normal">
													<th>
														<span class="ms-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg></span>
													</th>
													<td class="align-middle">
														<span>{{ todo.tache }}</span>
													</td>
													<td class="align-middle">
                                                    <a class="btn btn-info" href="{{ path('todo_edit', {id: todo.id}) }}" role="button">Modifier</a>
													</td>
													<td class="align-middle">
													 <a class="btn btn-success" href="{{ path('todo_delete', {id: todo.id}) }}" role="button">J'ai terminé !</a>
													</td>
												</tr>

										{% endif %}
										
											{% endfor %}
										</tbody>
									</table>
                    </fieldset>
			</div>
		</div>
	</section>
	</main>
	
{% endblock %}
